# Dependencies
node_modules/

# Playwright outputs
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# OS artifacts
.DS_Store
Thumbs.db

# Temp / working files
tmp/